* {
  margin: 0rem;
  padding: 0rem;
  /* 移动端一般会设置盒模型为border-box 防止边框和padding撑大盒子超出屏幕宽度出现滚动条 */
  box-sizing: border-box;
  /*移动端a标签按住的高亮背景色 设置透明即可*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
input {
  /* 去除输入框的内外边框 */
  border: 0;
  outline: 0;
}
img {
  /* 去掉图片的边框 */
  border: none;
  /* 去掉图片底部0.03rem的间距 */
  vertical-align: middle;
}
a {
  color: #666;
  text-decoration: none;
}
body {
  font-size: 16px;
}
#header {
  height: 0.44rem;
  border: 1px solid #ccc;
  display: flex;
  background-color: #fff;
  padding: 0.05rem;
}
#header .logo {
  margin-top: 0.05rem;
  margin-left: 0.05rem;
  margin-right: 0.3rem;
}
#header .logo h1 {
  margin: 0;
}
#header .logo h1 a {
  display: block;
  width: 0.85rem;
  height: 0.26rem;
  background-image: url(../images/mlogo.png);
  background-size: cover;
}
#header form {
  flex: 1;
  margin-right: 0.1rem;
  position: relative;
}
#header form .search-icon {
  position: absolute;
  color: #ccc;
  font-size: 0.14rem;
  left: 0.1rem;
  top: 0.1rem;
}
#header form .search {
  background-color: #f9f9f9;
  height: 0.34rem;
  border-radius: 0.2rem;
  margin-bottom: 0rem;
  font-size: 0.14rem;
  text-align: left;
  padding-left: 0.35rem;
}
#header .download {
  display: block;
  width: 0.38rem;
  height: 0.22rem;
  border-radius: 0.1rem;
  color: #f04848;
  font-size: 0.14rem;
  border: 1px solid #f04848;
  text-align: center;
  line-height: 0.22rem;
  margin-top: 0.05rem;
}
#caozuo-bar {
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
  margin-top: 0.1rem;
  display: flex;
  height: 0.34rem;
}
#caozuo-bar a {
  line-height: 0.34rem;
  text-align: center;
}
#caozuo-bar a:nth-of-type(1) {
  flex: 3;
}
#caozuo-bar a:nth-of-type(2) {
  flex: 3;
  border-left: 0.01rem solid #ccc;
  border-right: 0.01rem solid #ccc;
}
#caozuo-bar a:nth-of-type(3) {
  flex: 4;
}
#footer {
  margin-top: 0.1rem;
}
#footer p {
  margin-bottom: 0rem;
  text-align: center;
}
#slide-nav {
  height: 0.4rem;
  border-bottom: 0.01rem solid #ccc;
  box-shadow: 0.04rem 0 0.08rem rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
#slide-nav .mui-scroll a.mui-active {
  color: #f96119;
  border-bottom: 0.02rem solid #f96119;
  background: 0 0;
}
#slide-nav .mui-segmented-control.mui-scroll-wrapper .mui-control-item {
  padding: 0 0.1rem;
}
#header {
  background-color: #fe4a65;
}
#header .logo {
  margin-right: 0.1rem;
}
#header .logo a {
  color: #fff;
  font-weight: 600;
}
#header form .search {
  border-radius: 0.05rem;
  color: #999;
}
#header .fa-list {
  color: #fff;
  margin-top: 0.1rem;
}
#pic-nav {
  background-color: #fff;
  overflow: hidden;
}
#pic-nav ul {
  display: flex;
  margin-top: 0.1rem;
}
#pic-nav ul li {
  width: 25%;
}
#pic-nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#pic-nav ul li a p {
  margin-top: 0.1rem;
}
#main .superSentiment {
  background-color: #fff;
  padding: 0.1rem;
  margin: 0.1rem 0;
}
#main .superSentiment .title {
  height: 0.3rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#main .superSentiment .title h4 {
  padding-left: 0.25rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  color: #b3b3b3;
  margin-bottom: 0;
  margin-top: 0;
}
#main .superSentiment .title h4::before {
  content: '';
  position: absolute;
  width: 0.03rem;
  height: 0.14rem;
  background-color: #fe4a65;
  top: 0.07rem;
  left: 0.14rem;
}
#main .superSentiment .title span {
  line-height: 0.3rem;
  font-size: 0.14rem;
}
#main .superSentiment .content {
  display: flex;
  overflow: hidden;
}
#main .superSentiment .content a {
  margin-left: 0.05rem;
}
#main .superSentiment .content a .pic {
  width: 1.06rem;
  height: 1.06rem;
}
#main .superSentiment .content a .pic img {
  width: 100%;
}
#main .superSentiment .content a .name {
  margin-top: 0.1rem;
  color: #000;
  margin-bottom: 0;
}
#main .superSentiment .content a .price {
  font-size: 0.16rem;
  color: #fe4a65;
}
#main .superSentiment .content a .price span {
  font-size: 0.12rem;
  color: #999;
}
.product {
  background-color: #fff;
  padding: 0.08rem 0.05rem;
}
.product .title {
  height: 0.3rem;
  display: flex;
  position: relative;
}
.product .title h4 {
  padding-left: 0.25rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  margin-bottom: 0;
  margin-top: 0;
  color: #b3b3b3;
}
.product .title h4::before {
  content: '';
  position: absolute;
  width: 0.03rem;
  height: 0.14rem;
  background-color: #fe4a65;
  top: 0.07rem;
  left: 0.14rem;
}
.product .title span {
  line-height: 0.3rem;
  font-size: 0.14rem;
  margin-left: 0.1rem;
  width: 0.5rem;
  height: 0.16rem;
  background-color: #ffe5ec;
  text-align: center;
  line-height: 0.18rem;
  color: #fe4a65;
  border-radius: 0.03rem;
  margin-top: 0.08rem;
}
.product .product-content {
  margin-top: 0.05rem;
  display: flex;
  flex-wrap: wrap;
}
.product .product-content .content {
  width: 50%;
  min-height: 2.59rem;
}
.product .product-content .content .pic {
  width: 1.76rem;
  height: 1.76rem;
}
.product .product-content .content .pic img {
  width: 100%;
}
.product .product-content .content .name {
  text-align: center;
  font-size: 0.14rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1 ;
}
.product .product-content .content .price-buyed {
  display: flex;
  justify-content: space-between;
}
.product .product-content .content .price-buyed .price span {
  color: #ff4b5f;
}
.product .product-content .content .price-buyed .price span em {
  margin-left: 0.05rem;
}
.product .product-content .content .price-buyed .buyed .num {
  color: #ecabab;
}
#footer {
  margin-top: 0.1rem;
}
#footer p {
  margin-bottom: 0rem;
  text-align: center;
}
.show {
  display: block;
}
