@import 'base.less';
 #main {
     padding: 0.1rem;
     ul {
         border: 1px solid @border-color;
         border-radius: 0.1rem;
    }
     .mui-collapse-content {
         .mui-row {
             >div {
                 height: 0.4rem;
                 line-height: 0.4rem;
                 text-align: center;
                 font-size: 0.14rem;
                 border: 1px solid @border-color;
                 // border-bottom: 0.01rem solid @border-color;
            }
        }
    }
}
 