@import 'base.less';
 body {
     // background-color: #fff;
}
 #main {
     #product {
         background-color: #fff;
         padding: 0.1rem;
         text-align: center;
         display: flex;
         flex-wrap: wrap;
         .product-content {
             min-height: 2.9rem;
             width: 50%;
             padding: 0.1rem;
             &:nth-child(even) {
                 border-left: 0.01rem solid #ccc;
            }
             &:nth-child(n + 3) {
                 border-top: 0.01rem solid #ccc;
            }
             .pic {
                 width: 1.4rem;
                 height: 1.4rem;
                 margin: 0 auto;
                 img {
                     width: 100%;
                }
            }
             .title {
                 font-weight: 600;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 display: -webkit-box;
                 -webkit-box-orient: vertical;
                 -webkit-line-clamp: 2;
            }
             .price {
                 color: #ff964e;
                 font-weight: 600;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 display: -webkit-box;
                 -webkit-box-orient: vertical;
                 -webkit-line-clamp: 1;
            }
             .from-time {
                 font-size: 0.12rem;
                 color: #999;
            }
        }
    }
}
 #footer {
     margin-top: 0.1rem;
     p {
         margin-bottom: 0rem;
         text-align: center;
    }
}
 