@import 'base.less';
body {
	// background-color: #fff;
}

#main {
	#product {
		background-color: #fff;
		padding: 10px 10px 20px 10px;
		text-align: left;
		.product-content {
			.pic {
				width: 201px;
				height: 201px;
				// margin: 0 auto;
				img {
					width: 100%;
				}
			}
			.introductions {
				font-size: 12px;
				color: #999;
				span {
					margin-right: 5px;
				}
			}
			.title {
				font-size: 22px;
				color: rgb(15, 9, 9);
				font-weight: 600;
			}
			.price {
				font-size: 16px;
				color: #f85000;
			}
			.straight-href {
        margin-top: 30px;
				.mui-btn {
					width: 350px;
					height: 35px;
					color: #fff;
					background-color: #f85000;
					border-radius: 8px;
				}
			}
			.description {
				margin-top: 20px;
				text-align: left;
				font-size: 16px;
				color: #000;
			}
		}
	}

}

#footer {
	margin-top: 10px;
	p {
		margin-bottom: 0px;
		text-align: center;
	}
}
