* {
  margin: 0rem;
  padding: 0rem;
  /* 移动端一般会设置盒模型为border-box 防止边框和padding撑大盒子超出屏幕宽度出现滚动条 */
  box-sizing: border-box;
  /*移动端a标签按住的高亮背景色 设置透明即可*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
input {
  /* 去除输入框的内外边框 */
  border: 0;
  outline: 0;
}
img {
  /* 去掉图片的边框 */
  border: none;
  /* 去掉图片底部0.03rem的间距 */
  vertical-align: middle;
}
a {
  color: #666;
  text-decoration: none;
}
body {
  font-size: 16px;
}
#header {
  height: 0.44rem;
  border: 1px solid #ccc;
  display: flex;
  background-color: #fff;
  padding: 0.05rem;
}
#header .logo {
  margin-top: 0.05rem;
  margin-left: 0.05rem;
  margin-right: 0.3rem;
}
#header .logo h1 {
  margin: 0;
}
#header .logo h1 a {
  display: block;
  width: 0.85rem;
  height: 0.26rem;
  background-image: url(../images/mlogo.png);
  background-size: cover;
}
#header form {
  flex: 1;
  margin-right: 0.1rem;
  position: relative;
}
#header form .search-icon {
  position: absolute;
  color: #ccc;
  font-size: 0.14rem;
  left: 0.1rem;
  top: 0.1rem;
}
#header form .search {
  background-color: #f9f9f9;
  height: 0.34rem;
  border-radius: 0.2rem;
  margin-bottom: 0rem;
  font-size: 0.14rem;
  text-align: left;
  padding-left: 0.35rem;
}
#header .download {
  display: block;
  width: 0.38rem;
  height: 0.22rem;
  border-radius: 0.1rem;
  color: #f04848;
  font-size: 0.14rem;
  border: 1px solid #f04848;
  text-align: center;
  line-height: 0.22rem;
  margin-top: 0.05rem;
}
#caozuo-bar {
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
  margin-top: 0.1rem;
  display: flex;
  height: 0.34rem;
}
#caozuo-bar a {
  line-height: 0.34rem;
  text-align: center;
}
#caozuo-bar a:nth-of-type(1) {
  flex: 3;
}
#caozuo-bar a:nth-of-type(2) {
  flex: 3;
  border-left: 0.01rem solid #ccc;
  border-right: 0.01rem solid #ccc;
}
#caozuo-bar a:nth-of-type(3) {
  flex: 4;
}
#footer {
  margin-top: 0.1rem;
}
#footer p {
  margin-bottom: 0rem;
  text-align: center;
}
#slide-nav {
  height: 0.4rem;
  border-bottom: 0.01rem solid #ccc;
  box-shadow: 0.04rem 0 0.08rem rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
#slide-nav .mui-scroll a.mui-active {
  color: #f96119;
  border-bottom: 0.02rem solid #f96119;
  background: 0 0;
}
#slide-nav .mui-segmented-control.mui-scroll-wrapper .mui-control-item {
  padding: 0 0.1rem;
}
#main .bread-nav {
  height: 0.4rem;
  background-color: #ebebeb;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
  border-top: solid 0.01rem #ebebeb;
  border-bottom: 0.01rem solid #ccc;
  line-height: 0.4rem;
  padding-left: 0.08rem;
  font-size: 0.14rem;
}
#main .product {
  background-color: #fff;
}
#main .product .product-content {
  padding: 0.05rem;
}
#main .product .product-content .pic {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 auto;
}
#main .product .product-content .pic img {
  width: 100%;
}
#main .product .product-content .product-title p {
  color: #000;
  font-size: 0.16rem;
}
#main .product .product-content .price-comment {
  display: flex;
  font-size: 0.14rem;
  color: #999;
  text-align: left;
}
#main .product .product-content .price-comment .price-min {
  flex: 1;
}
#main .product .product-content .price-comment .goodscomment {
  flex: 1;
}
#main .tabBar {
  margin-top: 0.2rem;
  background-color: #ffbb00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa632), to(#ff9000));
}
#main .tabBar .mui-row > div {
  line-height: 0.34rem;
  text-align: center;
  color: white;
}
#main .tabBar .mui-row > div:nth-of-type(2) {
  border-left: solid 0.01rem #c14d00;
  border-right: solid 0.01rem #c14d00;
}
#main .than-price-buy {
  background-color: #fff;
}
#main .than-price-buy .title {
  padding-left: 0.1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.01rem solid #ccc;
  line-height: 0.5rem;
}
#main .than-price-buy .title .right .mui-btn-danger {
  color: #fff;
  background-color: #ff5200;
  border-radius: 0.08rem;
  margin-top: 0.05rem;
  margin-right: 0.05rem;
}
#main .than-price-buy .title .right .price {
  color: red;
  margin-right: 0.1rem;
}
#main .than-price-buy .attention {
  font-size: 0.12rem;
  color: #999;
  padding: 0.05rem 0;
}
#main .comment {
  background-color: #fff;
}
#main .comment .title {
  background-color: #dbdbdb;
  line-height: 0.35rem;
  border-bottom: 0.01rem solid #000;
  text-align: center;
  font-size: 0.14rem;
}
#main .comment .content {
  border-bottom: 0.01rem solid #ccc;
  padding: 0.1rem 0.05rem 0.05rem 0.05rem;
}
#main .comment .content .name-time {
  display: flex;
  justify-content: space-between;
  color: #999;
  margin-bottom: 0.03rem;
}
#main .comment .content .name-time .name {
  font-size: 0.14rem;
}
#main .comment .content .name-time .time {
  font-size: 0.12rem;
}
#main .comment .content .buy-from {
  color: #999;
  text-align: right;
  margin-bottom: 0.05rem;
}
#main .comment .content .text {
  font-size: 0.14rem;
  color: #000;
}
